<!DOCTYPE html>
<html>
  <head>
    <title>line | page not found</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="/js/lib/jquery.js"></script>
    <script src="/js/all.js"></script>
    <script src="/js/many-lines/adapted.particles.js"></script>
		<script src="/js/many-lines/adapted.library.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,latin-ext' rel='stylesheet'>
    <link href="/style/style.css" rel="stylesheet">    
    <link href="/style/all.css" rel="stylesheet">

    <script>
		$(function() {
			init();
			initParticleSystem();
		
/*
		var fadetime = 300;

		var o = 0.4;
		var ffade = function(sel, others) {
			$(sel).hover(function() {
				$(others).animate({
					opacity:0.4
				}, fadetime);
			}, function() {
				$(others).animate({opacity:1}, fadetime/2);
			});
		};

		var fade = function(sel, others, _in, out) {
			$(sel).hover(function() {
				$(sel).animate({opacity:_in || 1}, fadetime);
		//		if(others) $(others).animate({opacity:o}, fadetime);
				
			}, function() {
				$(sel).animate({opacity:out || o}, fadetime/2);
			//	if(others) $(others).animate({opacity:1}, fadetime/2);
			});
		};

		setTimeout(function() {
			$('.description, #about, #deliverables, #work, #contact').css({opacity:o});
		}, 0);

		
		fade('.description');
		fade('#about', '#logo');
		fade('#deliverables', '#logo');
		fade('#work', '#logo');
		fade('#contact', '#logo');

*/

		});

		</script>
  </head>
<body>

<canvas height="700" width="700" id="canvas">&nbsp;</canvas>

<div id='holder'>
	<section id="content">
		<header>
			<section id="logo">
				<span class="line">404<span class="description"> Page not found</span>
				<br>
				<span class="description slogan">Why dont you try looking at one of the sections listed below instead.</span>
			</span>
			</section>
			<nav class="clearfix" id="nav">
		<a href="/"> Home</a>
		<a href="/about"> About</a>
		<a href="/showcase"> Showcase</a>
		<a href="/services"> Services</a>
		<a href="/contact"> Contact</a>
	</nav>
		</header>
	</section>
	<section id="boxes">
		<div class='content'>
			<ul class='clearfix'>
				<li id='about'>
					<a href='/about'id='about'>
						<h3>About</h3>
						<p>We are a health care design studio in the heart of Copenhagen. Get to know us a little better.</p>
					</a>
				</li>
				<li id='work'>
					<a href='/showcase'>
						<h3>Showcase</h3>
						<p>Look at some of our best work. Small scale to big scale. Concept to product. Imagine what we could do for you.</p>
					</a>
				</li>
				<li id='deliverables'>
					<a href='/services'>
						<h3>Services</h3>
						<p>We reaserach design and develop health care products and services. How can we help you?</p>
				    </a>
				</li>
				<li id='contact'>
					<a href='/contact'>
						<h3>Contact</h3>
						<p>We would love to hear from you. Get in touch or just come visit us at our beautifull office.</p>
					</a>
				</li>
			</ul>
		</div>
	</section>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38816967-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>