<% layout('boilerplate') -%>

<!-- #################################### about #################################### -->
<script>
  $(function() {
    hoverfy('#love li');
  });
</script>

<article id='about'>
	<!-- title of the page -->

	<h1>We Specialize In Healthcare.<span class='sub'> Inspired by personal experience, we approach every problem as if it were our own.</span></h1>

	<!-- mission -->
	<section id="mission">
	<div class='column col6'>
		<div id='moses'>
			<h2>We believe...</h2>
			<ul>
				<li>That medical devices and services should be designed with the patient at the forefront, like consumers experiences.</li>

				<li>In making products and services that help us make meaningful relationships with our selves, our communities and our health care providers.</li>

				<li>That our data and our experience are equally important for understanding and engaging with our own health</li>
			</ul>
		</div>
	</div>
	<div class='column col6 edge'>
		<p>Through clever technology, intimate relationships and fluid interactions we design and build to create deeper connections. We come to the work through personal experience living with type 1 diabetes.</p>
		<p> We want to know more and engage more. Our understanding of products and services that really work for patients is beautifully complemented with professional expertise in design, people centered research and software development.</p>
		<p>The potential of technology is fabulous but we don't want to get caught in the future. We want to make the potential now, and make it with and for people whose health can benefit from it - ourselves and you.</p>
	</div>


		<div class='clear'></div>
	</section>

	<!-- team -->
	<h1 class='subsection'>The dots behind <span class='lineblue'>line</span>. <span class='sub'>Our team and network has personal and professional experience in pharmaceutical industry, hospitals, laboratories and home care.</span></h1>
	<section id='team'>
		<ul>
      <li>
        <p><img align='left' src='/img/about_ian_color.png'><strong>Ian Jorgensen</strong> programmer with a passion for design. Started programing at the age of 10, participated and won awards and international robotics competitions, and since then has been programming everything from low level machine code to database servers, real time data transfer protocols, iOS apps, and web development. He has experience in working in start up tech companies such as Ge.tt and Optimov as well as larger companies like Microsoft and the Danish Broadcasting Corporation. He is also an advisor to Health Care Technology line of studies at Denmarks Technical University. His passion for making a difference in health care comes from personal experience, most significantly that of living with type 1 diabetes since 2007.</p>
      </li>
			<!--<li class='edge'>
				<p><img align='left' src='/img/sarasquare.png'><strong>Sara Krugman's</strong> practice as a designer focuses on the importance of the relationships people have with health care data and devices. She has a passion for creating personalized and simple health care solutions, from mobile apps to human services. She is driven by her own experience living with type 1 diabetes since she was five. Sara has a Masters level degree from the Copenhagen Institute for Interaction Design and a Bachelors degree in Fine art and Film from Oberlin College. She has worked as a researcher at Mount Sinai hospital in New York City, produced videos for the Brooklyn Department of Health, and was invited to speak at the Diabetes Innovation Summit in 2012. She has taught workshops with teens on nutrition as well as co-taught People Centered Research course.</p>
			</li>-->
      <li>
        <p><img align='left' src='/img/mads.jpg'><strong>Mads Ring</strong> Mads Ring is an industrial designer. His heart beats for turning new ideas and meaningful concepts into physical prototypes and products. His design-process is human-centred and influenced by his passion and curiosity for emerging technologies, new materials and quality workmanship. From being involved in international startups within healthcare technology, wearables and water-sports, he has learned the importance of multi-disciplinarily skills in innovative processes and the flicky and unpredictable challenges when designing for humans.</p>
      </li>
      <li>
        <p><img align='left' src='/img/simon.jpg'><strong>Simon Madsen</strong> is a mechanical design engineer with a passion for user experience and human-computer interaction. He travels the intersections of business, technology & design. He enjoys working with multidisciplinary challenges, where technology meets people, as well as the engineering of complex systems. He is motivated by purpose and seeks to develop transformative and impactful solutions – he likes connecting the dots. His thesis at Novo Nordisk Device R&D was concerned with developing a holistic treatment system for type 2 diabetics, and the project has since been established within Novo Nordisk as a star project. During his studies, he has worked in international teams and reached the finals of several entrepreneurial competitions in the UK, the Netherlands and Denmark.</p>
      </li>
		</ul>
		<div class='clear'></div>
	</section>

	<!-- partners
	<section id='partners'>
		<h1 class='hrline'>Partners</h1>
		<ul>
			<li>
				<p><a href='http://www.ciid.dk/' target="_blank"><img align='left' src='/img/about_ciid.png'>Copenhagen Institute of Interaction Design</a> International center for exellence for interaciton design and inovation</p>
			</li>
			<li>
				<p><a href='http://www.calmark.se' target="_blank"> <img align='left' src='/img/about_calmark.png'>Calmark Sweden</a> Developing a lab in your pocket to test for POC discovery of critical conditions</p>
			</li>
			<li class='edge'>
				<p><a href='' target="_blank"><img align='left' src='/img/about_christian.jpg'>Christian Selmer </a>A medical doctor working as a research fellow in cardiology and endocrinology</p>
			</li>
			<li class='clear'>
				<p><a href='http://www.linkedin.com/in/rolfostergaard' target="_blank"><img align='left' src='img/about_Rolf.jpg'>Rolf V. Østergaard </a>M.Sc.EE, Hardware </p>
			</li>
			<li class='edge'>
				<p><a href='' target="_blank"><img align='left' src='/img/about_lone.png'>Lone Tjustrup Olufsen</a> LTO, Patient strategy and communications</p>
			</li>
		</ul>
		<div class='clear'></div>
	</section>
	-->
	<h1 class='subsection'>Some of the things we <img class='drawing' src='/img/heart.png'></h1>
	<section id='love'>
		<ul>
      <li>
        <a href='http://www.tidepool.org/' target="_blank">
          <img class='in' src='/img/T_icon_light.png'>
          <img class='out' src='/img/T_icon_dark.png'>
        </a>
      </li>
			<li>
				<a href='http://vitality.net/' target="_blank">
					<img class='in' src='/img/peoplewelove_vitalityIN.png'>
					<img class='out' src='/img/peoplewelove_vitalityOUT.png'>
				</a>
			</li>
			<li>
				<a href='http://glooko.com/' target="_blank">
					<img class='in' src='/img/peoplewelove_glookoIN.png'>
					<img class='out' src='/img/peoplewelove_glookoOUT.png'>
				</a>
			</li>
			<li>
				<a href='http://quantifiedself.com/' target="_blank">
					<img class='in' src='/img/peoplewelove_qsIN.png'>
					<img class='out' src='/img/peoplewelove_qsOUT.png'>
				</a>
			</li>
			<li>
				<a href='http://www.scanadu.com/' target="_blank">
					<img class='in' src='/img/peoplewelove_scanaduIN.png'>
					<img class='out' src='/img/peoplewelove_scanaduOUT.png'>
				</a>
			</li>
			<li>
				<a href='http://www.diabetesmine.com/' target="_blank">
					<img class='in' src='/img/peoplewelove_dbmineIN.png'>
					<img class='out' src='/img/peoplewelove_dbmineOUT.png'>
				</a>
			</li>
			<li class='edge'>
				<a href='http://rockhealth.com/' target="_blank">
					<img class='in' src='/img/peoplewelove_rockhealthIN.png'>
					<img class='out' src='/img/peoplewelove_rockhealthOUT.png'>
				</a>
			</li>
			<li class='clear'>
				<a href='http://misfitwearables.com/' target="_blank">
					<img class='in' src='/img/peoplewelove_misfitIN.png'>
					<img class='out' src='/img/peoplewelove_misfitOUT.png'>
				</a>
			</li>
      <li>
        <a href='http://www.healthcareexperiencedesign.com/' target="_blank">
          <img class='in' src='/img/peoplewelove_hxdIN.png'>
          <img class='out' src='/img/peoplewelove_hxdOUT.png'>
        </a>
      </li>
			<li>
				<a href='http://variable.io/' target="_blank">
					<img class='in' src='/img/peoplewelove_VarIN.png'>
					<img class='out' src='/img/peoplewelove_varOUT.png'>
				</a>
			</li>
			<li>
				<a href='http://www.medicalavatar.com/' target="_blank">
					<img class='in' src='/img/_ma.png'>
					<img class='out' src='/img/ma.png'>
				</a>
			</li>
			<li class='edge'>
				<a href='http://newmed.media.mit.edu/' target="_blank">
					<img class='in' src='/img/peoplewelove_newMediaIN.png'>
					<img class='out' src='/img/peoplewelove_newMediaOUT.png'>
				</a>
			</li>


		</ul>
		<div class='clear'></div>
	</section>
</article>
