<% layout('boilerplate') -%>

<!-- #################################### about #################################### -->
<article id='about'>
	<!-- title of the page -->
	<h1>Learn a little more about us</h1>

	<!-- mission -->
	<section id="mission">
		<p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.</p>
		<p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.</p>
		<ul>
			<li>Nature is lethal but it doesn't hold a candle to man.</li>
			<li>Nature is lethal but it doesn't hold a candle to man.</li>
			<li>Nature is lethal but it doesn't hold a candle to man.</li>
			<li>Nature is lethal but it doesn't hold a candle to man.</li>
		</ul>
	</section>

	<!-- team -->
	<section id='team'>
		<h1>The dots behind line</h1>
		<ul>
			<li>
				<img src='/img/img.png'>
				<p><strong>Ian Jorgensen</strong> Software development for smartphones and tablets running iOS, Android or Windows Phone is the core of what we do. Our engineers put great efforts in crafting the most robust and well-polished applications. By allowing engineers to work closely with designers we are able to create experiences that often exceed our clients' expectations and delight our users.</p>
			</li>
			<li class='edge'>
				<img src='/img/img.png'>
				<p><strong>Ian Jorgensen</strong> Software development for smartphones and tablets running iOS, Android or Windows Phone is the core of what we do. Our engineers put great efforts in crafting the most robust and well-polished applications. By allowing engineers to work closely with designers we are able to create experiences that often exceed our clients' expectations and delight our users.</p>
			</li>
		</ul>
		<div class='clear'></div>
	</section>

	<!-- partners -->
	<section id='partners'>
		<h1>Partners</h1>
		<ul>
			<li>
				<img src='/img/img.png'>
				<p><a href='' target="_blank">Rolf</a> Software development for smartphones and tablets running iOS, Android or Windows Phone is the core of what we do. Our engineers put great efforts in crafting the most robust and well-polished applications. By allowing engineers to work closely with designers we are able to create experiences that often exceed our clients' expectations and delight our users.</p>
			</li>
			<li>
				<img src='/img/img.png'>
				<p><a href='' target="_blank">Rolf</a> Software development for smartphones and tablets running iOS, Android or Windows Phone is the core of what we do. Our engineers put great efforts in crafting the most robust and well-polished applications. By allowing engineers to work closely with designers we are able to create experiences that often exceed our clients' expectations and delight our users.</p>
			</li>
			<li class='edge'>
				<img src='/img/img.png'>
				<p><a href='' target="_blank">Rolf</a> Software development for smartphones and tablets running iOS, Android or Windows Phone is the core of what we do. Our engineers put great efforts in crafting the most robust and well-polished applications. By allowing engineers to work closely with designers we are able to create experiences that often exceed our clients' expectations and delight our users.</p>
			</li>
			<li class='clear'>
				<img src='/img/img.png'>
				<p><a href='' target="_blank">Rolf</a> Software development for smartphones and tablets running iOS, Android or Windows Phone is the core of what we do. Our engineers put great efforts in crafting the most robust and well-polished applications. By allowing engineers to work closely with designers we are able to create experiences that often exceed our clients' expectations and delight our users.</p>
			</li>
			<li>
				<img src='/img/img.png'>
				<p><a href='' target="_blank">Rolf</a> Software development for smartphones and tablets running iOS, Android or Windows Phone is the core of what we do. Our engineers put great efforts in crafting the most robust and well-polished applications. By allowing engineers to work closely with designers we are able to create experiences that often exceed our clients' expectations and delight our users.</p>
			</li>
		</ul>
		<div class='clear'></div>
	</section>

	<!-- love -->
	<section id='love'>
		<h1>Things we love</h1>
		<ul>
			<li>
				<a href='' target="_blank">
					<img class='in' src='/img/img.png'>
					<img class='out' src='/img/ff.jpg'>
				</a>
			</li>
			<li>
				<a href='' target="_blank">
					<img class='in' src='/img/img.png'>
					<img class='out' src='/img/ff.jpg'>
				</a>
			</li>
			<li>
				<a href='' target="_blank">
					<img class='in' src='/img/img.png'>
					<img class='out' src='/img/img.png'>
				</a>
			</li>
			<li>
				<a href='' target="_blank">
					<img class='in' src='/img/img.png'>
					<img class='out' src='/img/img.png'>
				</a>
			</li>
			<li>
				<a href='' target="_blank">
					<img class='in' src='/img/img.png'>
					<img class='out' src='/img/img.png'>
				</a>
			</li>
			<li class='edge'>
				<a href='' target="_blank">
					<img class='in' src='/img/img.png'>
					<img class='out' src='/img/img.png'>
				</a>
			</li>
			<li class='clear'>
				<a href='' target="_blank">
					<img class='in' src='/img/img.png'>
					<img class='out' src='/img/img.png'>
				</a>
			</li>
			<li>
				<a href='' target="_blank">
					<img class='in' src='/img/img.png'>
					<img class='out' src='/img/img.png'>
				</a>
			</li>
		</ul>
		<div class='clear'></div>
	</section>
</article>