<% layout('boilerplate') -%>
<body class='inner'>  
<style>
#content {
	width: 990px;
	margin-bottom: 80px;
	margin: auto;	
}
.inner {
	margin: 0px;
}
.inner #logo .line {
	font-size: 25px;

}

.inner #logo {
	position: absolute;
	padding: 10px 0px;
}

.inner header {
	position: relative;
	margin: 10px 0;
}

nav {
	position: relative;
	float: right;
	right: 0px;
	margin-top: -4px;
}

ol, ul {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style: none;
}

</style>
<section id="content" class='onepcssgrid-1000'>
	<%- partial('header', {active: 'about'}) %>
	
	<div id="about" class="col12 last">
		<h1>A little about us</h1>
		<p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.</p>
		<p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.</p>
		<ul>
			<li>Nature is lethal but it doesn't hold a candle to man.</li>
			<li>Nature is lethal but it doesn't hold a candle to man.</li>
			<li>Nature is lethal but it doesn't hold a candle to man.</li>
			<li>Nature is lethal but it doesn't hold a candle to man.</li>
		</ul>
	</div>

	<div id='team'>
		<div class="col12 last">
			<h2>The dots behind line</h2>
		</div>
		<div class="col6">
			<p><img width='100' height='100' src='http://www.shape.dk/sites/default/files/Services_code_review_0.png?1351455265'><strong>Design</strong> Software development for smartphones and tablets running iOS, Android or Windows Phone is the core of what we do. Our engineers put great efforts in crafting the most robust and well-polished applications. By allowing engineers to work closely with designers we are able to create experiences that often exceed our clients' expectations and delight our users.</p>
		</div>
		<div class="col6 last">
			<p><img width='100' height='100' src='http://www.shape.dk/sites/default/files/Services_code_review_0.png?1351455265'><strong>Design</strong> Software development for smartphones and tablets running iOS, Android or Windows Phone is the core of what we do. Our engineers put great efforts in crafting the most robust and well-polished applications. By allowing engineers to work closely with designers we are able to create experiences that often exceed our clients' expectations and delight our users.</p>
		</div>
	</div>

	<div id='partners'>
		<div class="col12 last">
			<h2>Partners</h2>
		</div>
		<div class="col4">
			<p><img width='100' height='100' src='http://www.shape.dk/sites/default/files/Services_code_review_0.png?1351455265'><strong>Design</strong> Software development for smartphones and tablets running iOS, Android or Windows Phone is the core of what we do. Our engineers put great efforts in crafting the most robust and well-polished applications. By allowing engineers to work closely with designers we are able to create experiences that often exceed our clients' expectations and delight our users.</p>
		</div>
		<div class="col4">
			<p><img width='100' height='100' src='http://www.shape.dk/sites/default/files/Services_code_review_0.png?1351455265'><strong>Design</strong> Software development for smartphones and tablets running iOS, Android or Windows Phone is the core of what we do. Our engineers put great efforts in crafting the most robust and well-polished applications. By allowing engineers to work closely with designers we are able to create experiences that often exceed our clients' expectations and delight our users.</p>
		</div>
		<div class="col4 last">
			<p><img width='100' height='100' src='http://www.shape.dk/sites/default/files/Services_code_review_0.png?1351455265'><strong>Design</strong> Software development for smartphones and tablets running iOS, Android or Windows Phone is the core of what we do. Our engineers put great efforts in crafting the most robust and well-polished applications. By allowing engineers to work closely with designers we are able to create experiences that often exceed our clients' expectations and delight our users.</p>
		</div>
		<div class="col4">
			<p><img width='100' height='100' src='http://www.shape.dk/sites/default/files/Services_code_review_0.png?1351455265'><strong>Design</strong> Software development for smartphones and tablets running iOS, Android or Windows Phone is the core of what we do. Our engineers put great efforts in crafting the most robust and well-polished applications. By allowing engineers to work closely with designers we are able to create experiences that often exceed our clients' expectations and delight our users.</p>
		</div>
		<div class="col4 last">
			<p><img width='100' height='100' src='http://www.shape.dk/sites/default/files/Services_code_review_0.png?1351455265'><strong>Design</strong> Software development for smartphones and tablets running iOS, Android or Windows Phone is the core of what we do. Our engineers put great efforts in crafting the most robust and well-polished applications. By allowing engineers to work closely with designers we are able to create experiences that often exceed our clients' expectations and delight our users.</p>
		</div>
	</div>


	<div id='love'>
		<div class="col12 last">
			<h2>Things we love</h2>
		</div>
		<div class="col2">
			<img width='100' height='100' src='http://www.shape.dk/sites/default/files/Services_code_review_0.png?1351455265'>
		</div>
		<div class="col2">
			<img width='100' height='100' src='http://www.shape.dk/sites/default/files/Services_code_review_0.png?1351455265'>
		</div>
		<div class="col2">
			<img width='100' height='100' src='http://www.shape.dk/sites/default/files/Services_code_review_0.png?1351455265'>
		</div>
		<div class="col2">
			<img width='100' height='100' src='http://www.shape.dk/sites/default/files/Services_code_review_0.png?1351455265'>
		</div>
		<div class="col2">
			<img width='100' height='100' src='http://www.shape.dk/sites/default/files/Services_code_review_0.png?1351455265'>
		</div>
		<div class="col2 last">
			<img width='100' height='100' src='http://www.shape.dk/sites/default/files/Services_code_review_0.png?1351455265'>
		</div>
		<div class="col2">
			<img width='100' height='100' src='http://www.shape.dk/sites/default/files/Services_code_review_0.png?1351455265'>
		</div>
		<div class="col2">
			<img width='100' height='100' src='http://www.shape.dk/sites/default/files/Services_code_review_0.png?1351455265'>
		</div>
		<div class="col2 last">
			<img width='100' height='100' src='http://www.shape.dk/sites/default/files/Services_code_review_0.png?1351455265'>
		</div>
	</div>
	<div class="col12 last">
		<%- partial('footer') %>
	</div>
</section>
</body>