<!DOCTYPE html>
<html>
  <head>
    <title>line | <%= page.name%></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="/js/lib/jquery.js"></script>
    <script src="/js/all.js"></script>
    <script src="/js/footer-newsletter.js"></script>

    <link href="/style/style.css" rel="stylesheet">    
    <link href="/style/all.css" rel="stylesheet">
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,latin-ext' rel='stylesheet'>
  </head>
  <body class='inner'>  
    
    <section id="content">
      <%- partial('header', {active: page.name}) %>
      <%- body %>
      <%- partial('footer') %>
    </section>
  </body>
</html>