<!DOCTYPE html>
<html>
  <head>
    <title>line | Digital Health Conferences In Europe</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
<body>
	<style>
	#holder {
		width: 586px;
		margin: auto;
	}
	.example-number {
position: absolute;
width: 200px;
height: 200px;
margin: 50px 0 200px;
text-align: center;
font: 140px/200px Arial, sans-serif;
color: #fff;
background: #C91F2C;
}
.example-number:before {
content: "";
position: absolute;
bottom: -140px;
right: 0;
border-width: 0 0 140px 140px;
border-style: solid;
border-color: transparent #C91F2C;
}
	.example-number:after {
content: "";
position: absolute;
bottom: -140px;
right: 85px;
border-width: 0 0 140px 55px;
border-style: solid;
border-color: transparent #fff;
}
	</style>

<div id='holder'>
	<div class="example-number">57</div>
	<div class="example-number">57</div>
	<div class="example-number">57</div>
	<div class="example-number">57</div>
	<img src='https://holvi.com/static/images/site_selection/europe-49583618a415035f2b130642afe579156c3104e0.png?1354868936'>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38816967-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>