<% layout('boilerplate') -%>

<!-- #################################### deliverables ############################# -->
<article id='deliverables'>
	<h1>Some of the things we can do for you</h1>	

	<p>Design and development for smartphones and tablets running iOS, Android or Windows Phone is the core of what we do. Our engineers put great efforts in crafting the most robust and well-polished applications. By allowing engineers to work closely with designers we are able to create experiences that often exceed our clients' expectations and delight our users.</p>
	<ul>
		<li>
			<img src='/img/services_research.JPG'>
			<div class='byline'>
				<h2>Research</h2>
				
				<p>While our team has deep experience within the healthcare system, we dont know everything ;) The last thing we want to do is to spend time and money making something that no one really needs or wants. Research is fundamental to our design and development process. We do a mix of observation, interviews and experience prototyping. Depending on the scope and type of project we are working with we can spend anywhere from an hour conversation to a week of full time experience within the context.</p>

				<p>If you have a problem area but dont know what to do to fix it, we can step in to do interviews and observation, develop insights and then produce a diverse array of solutions that could either inspire you or could be the solution. If you have a product or service but want to improve it - we can take it into the field, analyze and brainstorm around possible solutions. If you know what you want to make but aren't sure in what way to make it - we can develop fast prototypes that are built to explore one aspect of your project and bring them to the context you are working in so that you can have a better understanding of how to put your goods out there.</p>
			</div>
			<div class='clear'></div>
		</li>
		<li>
			<img src='/img/services_design.JPG'> 
			<div class='byline'>
				<h2>Design</h2>

				<p>This is where we get down to the details and every pixel matters. But its not just about pixels and screens (although we do do that) its also about experience and full system thinking. How does someone hear about what you have to offer? What the first feeling they get? Should they be relaxed or should they take action? Through understanding of the context and users, we design for the experience you want them to have. </p>
			</div>
			<div class='clear'></div>
		</li>
		<li>
			<img src='/img/services_development.jpeg'>
			<div class='byline'>
				<h2>Development</h2>
				
				<p>We are flexible, and we use our methods wisely. We do hardware prototyping and software systems. We can work with servers, web and IOS applications for tablet and mobile. We also have experience developing hardware prototypes with internet connected devices. </p>
			</div>
			<div class='clear'></div>
		</li>
	</ul>
</article>