<footer>
<div id="footer">
	<div class='pad'>
		Say <a href='hi@linehq.com'>hi@linehq.com</a>.
	</div>

	<div class="pad message form" id='invite'>
		Stay updated
	</div>

	<form class='pad form' action="http://linehq.createsend.com/t/j/s/xhyik/" method="post" id="subForm">
		<input type="text" name="cm-xhyik-xhyik" placeholder='you@mail' id="xhyik-xhyik" size="28" />
	</form>

	<div class="pad submit form" id='plus'>
		<a  href='#' id='plusa' onclick='$("#subForm").submit(); return false;' id='submit'>+</a>
	</div>

	<div class="pad message" id='thanks'>We'll keep you in the loop!</div>

	<div class="pad message" id='error'>Oops. The email doesnt look right, try again.</div>

	<div class='pad'>© 2014</div>

	<div class='clear'></div>
</div>
</footer>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38816967-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
