<header>
	<section id="logo">
				<span class="line"><a href='/'>line</a></span>
	</section>
	<nav class="clearfix">
		<a href="/" class="<% if(active ==='home') {%>active<%}%>"> Home</a>
		<a href="/about" class="<% if(active ==='about') {%>active<%}%>"> About</a>
		<a href="/showcase" class="<% if(active ==='showcase') {%>active<%}%>"> Showcase</a>
		<a href="/services" class="<% if(active ==='services') {%>active<%}%>"> Services</a>
		<a href="/contact" class="<% if(active ==='contact') {%>active<%}%>"> Contact</a>
	</nav>
</header>