<header>
	<section id="logo">
				<span class="line">line</span>
	</section>
	<nav class="clearfix">
		<a href="/" class="<% if(active ==='home') {%>active<%}%>"> Home</a>
		<a href="/about" class="<% if(active ==='about') {%>active<%}%>"> About</a>
		<a href="/deliverables" class="<% if(active ==='deliverables') {%>active<%}%>"> Deliverables</a>
		<a href="/work" class="<% if(active ==='work') {%>active<%}%>"> Work</a>
		<a href="/contact" class="<% if(active ==='contact') {%>active<%}%>"> Contact</a>
	</nav>
</header>