<!DOCTYPE html>
<html>
  <head>
    <title>line | a health care design studio</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="/js/lib/jquery.js"></script>
    <script src="/js/all.js"></script>
    <script src="/js/many-lines/adapted.particles.js"></script>
		<script src="/js/many-lines/adapted.library.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,latin-ext' rel='stylesheet'>
    <link href="/style/style.css" rel="stylesheet">    
    <link href="/style/all.css" rel="stylesheet">

    <script>
		$(function() {
			init();
			initParticleSystem();
		});
		</script>
  </head>
<body>

<canvas height="700" width="700" id="canvas">&nbsp;</canvas>

<div id='holder'>
	<section id="content">
		<header>
			<section id="logo">
				<span class="line">line</s0pan>
				<span class="description"> a health care design studio in the heart of Copenhagen</span>
			</section>
		</header>
	</section>
	<section id="intro">
		<div class='content'>
		<ul class='clearfix'>
			<li>
				<a href='/about'>
					<h3>About</h3>
					<p>Line is a minimal and flexible node.js web application framework, providing
						a robust set of features for building single and multi-page, and hybrid web applications.</p>
				</a>
			</li>
			<li>
				<a href='/deliverables'>
					<h3>Deliverables</h3>
					<p>Line is a minimal and flexible node.js web application framework, providing
						a robust set of features for building single and multi-page, and hybrid web applications.</p>
				</a>
			</li>
			<li>
				<a href='/work'>
					<h3>Work</h3>
					<p>Line is a minimal and flexible node.js web application framework, providing
						a robust set of features for building single and multi-page, and hybrid web applications.</p>
				</a>
			</li>
			<li>
				<a href='/contact'>
					<h3>Contact</h3>
					<p>Line is a minimal and flexible node.js web application framework, providing
						a robust set of features for building single and multi-page, and hybrid web applications.</p>
				</a>
			</li>
		</ul>
	</div>
	</section>
</div>
</body>
</html>