<!DOCTYPE html>
<html>
<head>
  <title>line | a health care design studio</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="/js/lib/jquery.js"></script>
  <script src="/js/all.js"></script>
  <script src="/js/many-lines/adapted.particles.js"></script>
	<script src="/js/many-lines/adapted.library.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,latin-ext' rel='stylesheet'>
  <link href="/style/index.css" rel="stylesheet">    
  <link href="/style/all.css" rel="stylesheet">

  <script>
	$(function() {
		init();
		initParticleSystem();
	});

	</script>
</head>
<body>

<canvas height="700" width="700" id="canvas">&nbsp;</canvas>
<div id='holder'>
	<header>
		<section id="logo">
			<span class="line">Function<span class="description"> a health care design studio</span>
			<br>
			<span class="description slogan">We make patient centered health care solutions for ourselves and others.</span>
		</span>
		</section>
		<nav class="clearfix" id="nav">
			<a href="/" class="active"> Home</a>
			<a href="/about"> About</a>
			<a href="/showcase"> Showcase</a>
			<a href="/services"> Services</a>
			<a href="/contact"> Contact</a>
		</nav>
	</header>
	<ul class='clearfix'>
		<li id='about'>
			<a href='/about'id='about'>
				<h3>About</h3>
				<p>We are a health care design studio in the heart of Copenhagen. Get to know us a little better.</p>
			</a>
		</li>
		<li id='work'>
			<a href='/showcase'>
				<h3>Showcase</h3>
				<p>Look at some of our best work. Small scale to big scale. Concept to product. Imagine what we could do for you.</p>
			</a>
		</li>
		<li id='deliverables'>
			<a href='/services'>
				<h3>Services</h3>
				<p>We reaserach design and develop health care products and services. How can we help you?</p>
		    </a>
		</li>
		<li id='contact'>
			<a href='/contact'>
				<h3>Contact</h3>
				<p>We would love to hear from you. Get in touch or just come visit us at our beautifull office.</p>
			</a>
		</li>
	</ul>
</div>
</body>
</html>