<% layout('boilerplate') -%>

<!-- #################################### deliverables ############################# -->
<article id='page-deliverables'>
	<h1>What We Are Great At. <span class='sub'>We do research and use technology and design to create delightful experiences.</span></h1>	
	<ul>
		<li id='research' class='column col4'>
			<img src='/img/1research_sticky notes.JPG'>
			<div class='byline'>
				<h2>Research</h2>
				<p>The last thing we want to do is to spend time and money making something that no one really needs or wants. Research is fundamental to our design and development process. We do a mix of observation, interviews and experience prototyping.</p>
			</div>
		</li>
		<li id='design' class='column col4'>
			<img src='/img/deliverables_design1.png'> 
			<div class='byline'>
				<h2>Design</h2>
				<p>This is where we get down to the details and every pixel matters. But its not just about pixels and screens (although we do do that) its also about experience and full system thinking. Through understanding of the context and users we design things that are valuable to them and to you.</p>
			</div>
		</li>
		<li id='development' class='column col4 edge'>
			<img src='/img/badges3.png' style='background:rgb(78, 71, 71)'>
			<div class='byline'>
				<h2>Development</h2>
				<p>We are flexible, and we use our methods wisely. We do hardware prototyping and software systems. We can develop custom web application, database servers, web and iOS applications for tablet and mobile. We also develop hardware prototypes with internet connected devices.</p>
			</div>
		</li>
	</ul>
	<div class='clear'></div>
</article>