<% layout('boilerplate') -%>
<!-- #################################### works #################################### -->
<article id='works'>
	<!-- title -->
	<h1>Our Best Work.<span class='sub'> A selection of projects that made a difference and created meaningful experiences for us and our clients.</span></h1>
	<!-- make the sentence the same length in lines -->
	<ul>
		<li>
			<a href='/showcase/piddle'>
				<img src='/img/piddlefirst.png'>
				<p><strong>Piddle</strong><br>Simple, personal, urine analysis</p>
			</a>
		</li>
		<li>
			<a href='/showcase/bodystory'>
				<img src='/img/work_bodystory_white.png'>
				<p><strong>Body Story</strong><br>A symptom tracker</p>
			</a>
		</li>
		<li>
			<a href='/showcase/gio'>
				<img src='/img/giofirst.png'>
				<p><strong>Gio</strong><br>One handed blood glucose meter</p>
			</a>
		</li>
		<li class='edge'>
			<a href='/showcase/biohacking'>
				<img src='/img/biohacking.png'>
				<p><strong>BioHacking</strong><br>Do it yourself!</p>
			</a>
		</li>
		<li>
			<a href='/showcase/curiocity'>
				<img src='/img/work_curiocity.png'>
				<p><strong>Curiocity</strong> finding the right question</p>
			</a>
		</li>
		<li>
			<a href='/showcase/calmark'>
				<img src='/img/work_calmark1.png'>
				<p><strong>Calmark</strong><br>A lab in your pocket</p>
			</a>
		</li>
		<li>
			<a href='http://www.diacongroup.org/'>
				<img src='/img/signe.png'>
				<p><strong>Diacon</strong> Research on dual hormone artificial pancreas</p>
			</a>
		</li>
		<li class='edge'>
			<a href='https://vimeo.com/95307245'>
				<img src='/img/blip2.png'>
				<p><strong>Blip</strong> Everything that matters, in one place</p>
			</a>
		</li>
		<li>
			<a href='http://labs.tidepool.org:8084'>
				<img src='/img/labs.png'>
				<p><strong>Tidepool Labs</strong> The future of Diabetes Managment</p>
			</a>
		</li>
		<li>
			<a href='http://rounds.linehq.com'>
				<img src="/img/motog.png" style="width: 184px;height: 160px;margin: 45px 0 45px 0;">
				<p><strong>Rounds</strong> Workarounds for life with diabetes</p>
			</a>
		</li>

		<!--
		<li>
			<a href='/showcase/myme'>
				<img src='/img/work_myme_full.png'>
				<p><strong>My me</strong> Personalized blood sugar visualizations</p>
			</a>
		</li>
		<li>
			<a href='/work/one'>
				<img src='/img/work_one_flat.png'>
				<p><strong>One</strong><br> connecting through diabetes data</p>
			</a>
		</li><li>
			<a href='/work/myme'>
				<img src='/img/work_myme_full.png'>
				<p><strong>My me</strong> system to personalize blood sugar visualizations</p>
			</a>
		</li>
		-->

	</ul>
	<div class='clear'></div>
</article>
