<% layout('boilerplate') -%>
<!-- #################################### works #################################### -->
<article id='works'>
	<!-- title -->
	<h1>Our Best Work.<span class='sub'> A selection of projects that made a difference and created meaningful experiences for us and our clients.</span></h1>
	<!-- make the sentence the same length in lines -->
	<ul>
		<li>
			<a href='/showcase/piddle'>
				<img src='/img/work_piddle.png'>
				<p><strong>Piddle</strong> urinalysis on your phone</p>
			</a>
		</li>
		<li>
			<a href='/showcase/calmark'>
				<img src='/img/work_calmark1.png'>
				<p><strong>Calmark</strong> a lab in your pocket</p>
			</a>
		</li>
		<li>
			<a href='/showcase/bodystory'>
				<img src='/img/work_bodystory_small.png'>
				<p><strong>Body Story</strong> a symptom tracker</p>
			</a>
		</li>
		<!--
		<li>
			<a href='/work/one'>
				<img src='/img/work_one_flat.png'>
				<p><strong>One</strong> connecting through diabetes data</p>
			</a>
		</li>
		
		<li>
			<a href='/work/myme'>
				<img src='/img/work_myme_full.png'>
				<p><strong>My me</strong> system to personalize blood sugar visualizations</p>
			</a>
		</li>
		
		<li class='clear'>
			<a href='/work/curiosity'>
				<img src='/img/work_curiocity.png'>
				<p><strong>Curiocity</strong> finding the right question</p>
			</a>
			
		</li>
		<li>
			<a href='/work/gio'>
				<img src='/img/work_gio_white.png'>
				<p><strong>Gio</strong> One handed blood glucose meter</p>
			</a>
		</li>-->
		
	</ul>
	<div class='clear'></div>
</article>