<% layout('boilerplate') -%>
<body class='inner'>  
	<style>
#content {
	width: 990px;
	margin-bottom: 80px;
	margin: auto;	
}
.inner {
	margin: 0px;
}
.inner #logo .line {
	font-size: 25px;

}

.inner #logo {
	position: absolute;
	padding: 10px 0px;
}

.inner header {
	position: relative;
	margin: 10px 0;
}

nav {
	position: relative;
	float: right;
	right: 0px;
	margin-top: -4px;
}

ol, ul {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style: none;
}
li {
	float: left;
	margin: 0 3% 20px 0;
	width: 225px;
	height: 320px;
}

li:hover {
	background: rgba(240, 240, 240, 1);
	cursor: pointer;
}
.last {
	margin: 0;	
}

.first {
	clear: both;
}

.clear {
	clear: both;
}
p {
	padding: 0 10px 0 10px;
	margin: 5px 0;
}

h1 {
	padding-bottom: 10px;
}

img {
	width: 225px;
	height: 250px;
}
</style>
	<section id="content">
		<%- partial('header', {active: 'work'}) %>
		<h1>Some of our best work</h1>

		<ul>
			<li class='first'>
				<img width='225' height='250' src='/img/img.png'>
				<p><strong>Title</strong> is the thing one of them is really long</p>
			</li>
			<li>
				<img width='225'  height='250' src='/img/img.png'>
				<p><strong>Title</strong> is the thing</p>
			</li>
			<li>
				<img width='225'  height='250' src='/img/img.png'>
				<p><strong>Title</strong> is the thing</p>
			</li>
			<li class='last'>
				<img width='225'  height='250' src='/img/img.png'>
				<p><strong>Title</strong> is the thing</p>
			</li>
			<li class='first'>
				<img width='225' src='/img/img.png'>
				<p><strong>Title</strong> is the thing</p>
			</li>
			<li>
				<img width='225' src='/img/img.png'>
				<p><strong>Title</strong> is the thing one of them is really long</p>
			</li>
			<li>
				<img width='225' src='/img/img.png'>
				<p><strong>Title</strong> is the thing</p>
			</li>
			<li class='last'>
				<img width='225' src='/img/img.png'>
				<p><strong>Title</strong> is the thing</p>
			</li>
		</ul>
		<div class='clear'></div>
	</section>
	<%- partial('footer') %>
</body>