<% layout('boilerplate') -%>
<!-- #################################### works #################################### -->
<article id='works'>
	<!-- title -->
	<h1>Some of our best work</h1>
	<!-- make the sentence the same length in lines -->
	<ul>
		<li>
			<a href='/work/project'>
				<img src='/img/img.png'>
				<p><strong>Title</strong> is the thing one of them is really long</p>
			</a>
		</li>
		<li>
			<a href='/work/project'>
				<img src='/img/img.png'>
				<p><strong>Title</strong> is the thing</p>
			</a>
		</li>
		<li>
			<a href='/work/project'>
				<img src='/img/img.png'>
				<p><strong>Title</strong> is the thing</p>
			</a>
		</li>
		<li class='edge'>
			<a href='/work/project'>
				<img src='/img/img.png'>
				<p><strong>Title</strong> is the thing one of them is really long</p>
			</a>
		</li>
		<li class='clear'>
			<a href='/work/project'>
				<img src='/img/img.png'>
				<p><strong>Title</strong> is the thing</p>
			</a>
		</li>
		<li>
			<a href='/work/project'>
				<img src='/img/img.png'>
				<p><strong>Title</strong> is the thing</p>
			</a>
		</li>
	</ul>
	<div class='clear'></div>
</article>