<% layout('boilerplate') -%>
<!-- #################################### works #################################### -->
<article id='works'>
	<!-- title -->
	<h1>Some of our best work</h1>
	<!-- make the sentence the same length in lines -->
	<ul>
		<li>
			<a href='/work_myme1.png'>
				<img src='/img/work_myme.png'>
				<p><strong>My me</strong> system to personalize blood sugar visualizations</p>
			</a>
		</li>
		<li>
			<a href='/work/bodystory'>
				<img src='/img/work_bodystory.png'>
				<p><strong>Body Story</strong> iPhone app for tracking symptoms</p>
			</a>
		</li>
		<li>
			<a href='/work/calmark'>
				<img src='/img/work_calmark.png'>
				<p><strong>Calmark</strong> iPhone app for POC diagnostics</p>
			</a>
		</li>
		<li class='edge'>
			<a href='/work/gio'>
				<img src='/img/work_gio.png'>
				<p><strong>Gio</strong> One handed blood glucose meter</p>
			</a>
		</li>
		<li class='clear'>
			<a href='/work/one'>
				<img src='/img/work_one_effects.png'>
				<p><strong>One</strong> connecting through diabetes data</p>
			</a>
		</li>
		<li>
			<a href='/work/piddle'>
				<img src='/img/work_piddle.png'>
				<p><strong>Piddle</strong> iPhone app for urinalysis testing</p>
			</a>
		</li>
		<li>
			<a href='/work/curiosity'>
				<img src='/img/work_curiocity.png'>
				<p><strong>Curiocity</strong> finding the right question</p>
			</a>
		</li>
	</ul>
	<div class='clear'></div>
</article>