#content {
  width: 1000px;
  margin-bottom: 80px;
  margin: auto;
}
.inner #logo {
  position: absolute;
  padding: 10px 0px;
}
.inner #logo .line {
  font-size: 25px;
}
.inner header {
  position: relative;
  margin: 10px 0;
}
nav {
  position: relative;
  float: right;
  right: 0px;
  margin-top: -4px;
}
ol,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}
.fullwidth {
  width: 100%;
  height: 100%;
  /*auto;*/

  display: block;
}
.edge {
  margin: 0px !important;
}
.clear {
  clear: both;
}
.col1 {
  width: 5.5%;
}
.col2 {
  width: 14%;
}
.col3 {
  width: 22.5%;
}
.col4 {
  width: 31%;
}
.col5 {
  width: 39.5%;
}
.col6 {
  width: 48%;
}
.col7 {
  width: 56.5%;
}
.col8 {
  width: 65%;
}
.col9 {
  width: 73.5%;
}
.col10 {
  width: 82%;
}
.col11 {
  width: 90.5%;
}
.col12 {
  width: 99%;
  margin-left: 0;
}
li img {
  width: 100%;
  height: 100%;
  /*auto;*/

  display: block;
}
h1 {
  font-size: 1.17em;
}
#works li {
  float: left;
  margin: 0px 3% 0px 0;
  width: 22.5%;
  padding-bottom: 15px;
}
#works img {
  width: 225px;
  height: 250px;
}
#contact #office {
  padding-top: 80px;
}
#contact #office img {
  width: 100%;
  height: 100%;
  /*auto;*/

  display: block;
}
#contact #office img,
#contact #office ul {
  float: left;
  margin: 0px 3% 0px 0;
  width: 39.5%;
}
#contact #office ul {
  padding-top: 80px;
  margin: 0px !important;
}
#contact #facilities {
  padding-top: 40px;
}
#contact #facilities img {
  width: 100%;
  height: 100%;
  /*auto;*/

  display: block;
  display: none;
}
#contact #facilities img:first-child {
  display: block;
}
#contact #facilities p {
  padding-top: 40px;
  margin: 0px !important;
}
#contact #facilities p,
#contact #facilities ul {
  float: left;
  margin: 0px 3% 0px 0;
  width: 39.5%;
}
#work {
  display: none;
}
#deliverables h2 {
  font-size: 1.17em;
  margin: 5px 0;
}
#deliverables img {
  width: 313px;
}
#deliverables p {
  margin: 10px 0;
}
#deliverables ul {
  padding-top: 15px;
}
#deliverables ul li {
  padding-bottom: 15px;
}
#deliverables ul li img {
  float: left;
  margin: 0px 3% 0px 0;
  width: 31%;
}
#deliverables ul li .byline {
  padding-top: 35px;
  float: left;
  margin: 0px 3% 0px 0;
  width: 65%;
  margin: 0px !important;
}
#about section {
  padding-top: 40px;
}
#about p {
  margin: 10px 0;
}
#about #mission {
  padding-top: 0px;
}
#about #team li {
  float: left;
  margin: 0px 3% 0px 0;
  width: 48%;
}
#about #partners li {
  float: left;
  margin: 0px 3% 0px 0;
  width: 31%;
  padding-bottom: 15px;
}
#about #partners a {
  text-weight: bold;
}
#about #love li {
  float: left;
  margin: 0px 3% 0px 0;
  width: 14%;
  padding-top: 15px;
}
