#content {
  width: 1000px;
  margin-bottom: 80px;
  margin: auto; 
}

.inner {

  #logo {
    position: absolute;
    padding: 10px 0px;

    .line {
      font-size: 25px;
    }
  }
  
  header {
    position: relative;
    margin: 10px 0;
  }
}

nav {
  position: relative;
  float: right;
  right: 0px;
  margin-top: -4px;
}

ol, ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}


.fullwidth {
	width: 100%;
	height: 100%; /*auto;*/
	display: block;
}

.column (@left: 30px) {
	float: left;
	margin: 0px 3% 0px 0;
}
.edge {
	margin: 0px !important;
}
.clear {
	clear: both;
}

.col1 { width: 5.5%; }
.col2 { width: 14%; }
.col3 { width: 22.5%; }
.col4 { width: 31%; }
.col5 { width: 39.5%; }
.col6 { width: 48%; }
.col7 { width: 56.5%; }
.col8 { width: 65%; }
.col9 { width: 73.5%; }
.col10 { width: 82%; }
.col11 { width: 90.5%; }
.col12 { width: 99%; margin-left: 0;}

li img {
	.fullwidth;
}

h1 {
	font-size: 1.17em;
}

#works {
	li {
		.column;
		.col3;
		padding-bottom: 15px;
	}

	img {
		width: 225px;
		height: 250px;
	}
}

#contact {
	#office {
		padding-top: 80px;

		img {
			.fullwidth;
		}

		img, ul {
			.column;
			.col5;
		}		

		ul {
			padding-top: 80px;
			.edge;
		}
	}

	#facilities {
		padding-top: 40px;	

		img {
			.fullwidth;
			display: none;
		}

		img:first-child {
			display: block;
		}

		ul {
		}

		p {
			padding-top: 40px;
			.edge;
		}
		
		p, ul {

			.column;
			.col5;
		}
	}
}

#work {
	display: none;
}
#deliverables {
	h2 {
		font-size: 1.17em;		
		margin: 5px 0;
	}
	img {
		width: 313px;
	}
	p {
		margin: 10px 0;
	}
	ul {
		padding-top: 15px;

		li {
			padding-bottom: 15px;
			img {
				.column;
				.col4;
			}
			.byline {
				padding-top: 35px;
				.column;
				.col8;
				.edge;
			}
		}
	}
}
#about {
	section {
		padding-top: 40px;
	}

	p {
		margin: 10px 0;
	}

	#mission {
		padding-top: 0px;
	}
	
	#team {
		li {
			.column;
			.col6;
		}
	}

	#partners {
		li {
			.column;
			.col4;	
			padding-bottom: 15px;
		}

		a {
			text-weight: bold;
		}
	}

	#love li {
		.column;
		.col2;
		padding-top: 15px;
	}
}