#content {
  width: 1000px;
  margin-bottom: 80px;
  margin: auto;
}
.inner #logo {
  position: absolute;
  top: 0;
  margin: 0;
  width: auto;
  padding: 10px 0 15px 0;
  border-left: none;
}
.inner #logo .line {
  font-size: 25px;
}
.inner header {
  position: relative;
  margin: 10px 0 15px 0;
  top: 0;
  left: 0;
  height: 55px;
  z-index: 100;
  border-bottom: 1px solid #dce1e2;
  /*todo*/

}
nav {
  position: relative;
  float: right;
  right: 0px;
  margin-top: -4px;
}
ol,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}
.fullwidth {
  width: 100%;
  height: 100%;
  /*auto;*/

  display: block;
}
.column {
  float: left;
  margin: 0px 3% 0px 0;
}
.edge {
  margin: 0px !important;
}
.clear {
  clear: both;
}
.col1 {
  width: 5.5%;
}
.col2 {
  width: 14%;
}
.col3 {
  width: 22.5%;
}
.col4 {
  width: 31%;
}
.col5 {
  width: 39.5%;
}
.col6 {
  width: 48%;
}
.col7 {
  width: 56.5%;
}
.col8 {
  width: 65%;
}
.col9 {
  width: 73.5%;
}
.col10 {
  width: 82%;
}
.col11 {
  width: 90.5%;
}
.col12 {
  width: 100%;
  margin-left: 0;
}
li img {
  width: 100%;
  height: 100%;
  /*auto;*/

  display: block;
}
h1 {
  font-size: 1.17em;
}
#works li {
  float: left;
  margin: 0px 3% 0px 0;
  width: 22.5%;
  padding-bottom: 15px;
}
#works li p {
  margin: 5px 10px;
  color: #777;
  text-decoration: none;
}
#works li a:hover {
  text-decoration: none;
}
#works li:hover {
  background: rgba(248, 248, 248, 0.7);
}
#works img {
  width: 225px;
  height: 250px;
}
#contact #office {
  padding-top: 10px;
}
#contact #office img {
  width: 100%;
  height: 100%;
  /*auto;*/

  display: block;
}
#contact #office img,
#contact #office ul {
  float: left;
  margin: 0px 3% 0px 0;
  width: 39.5%;
}
#contact #office ul {
  padding-top: 80px;
  margin: 0px !important;
}
#contact #facilities {
  padding-top: 40px;
  height: 294px;
}
#contact #facilities .slide {
  position: relative;
}
#contact #facilities img {
  width: 100%;
  height: 100%;
  /*auto;*/

  display: block;
  display: none;
  height: 254px;
}
#contact #facilities img:first-child {
  display: block;
}
#contact #facilities li {
  display: none;
  position: absolute;
  width: 395px;
  height: 254px;
  top: 0;
  left: 0;
}
#contact #facilities li:first-child {
  display: block;
}
#contact #facilities p {
  padding-top: 40px;
  position: relative;
  padding-left: 425px;
  width: 100% !important;
  margin: 0px !important;
}
#contact #facilities p,
#contact #facilities ul {
  float: left;
  margin: 0px 3% 0px 0;
  width: 39.5%;
}
#project img {
  width: 100%;
  height: 100%;
  /*auto;*/

  display: block;
}
#project > div {
  padding: 10px 0;
}
#project .full iframe {
  width: 565px !important;
  margin-left: 217.5px;
}
#project iframe {
  width: 100%;
  height: 318px;
}
#project #info {
  background-color: rgba(248, 248, 248, 0.7);
  padding: 15px;
}
#project #info ul {
  list-style-type: none;
  margin-left: 0;
  margin: 3px;
  padding: 0px;
}
#project #info li {
  color: #0098AF;
}
#project #info h4 {
  font-size: 12px;
  text-transform: uppercase;
  font-style: italic;
  color: grey;
  font-weight: normal;
  margin: 0px;
}
#project .narrow {
  width: 39.5%;
  float: left;
  margin: 0px 3% 0px 0;
}
#project .wide {
  width: 56.5%;
  float: left;
  margin: 0px 3% 0px 0;
}
#project .full {
  width: 100%;
  margin-left: 0;
}
#deliverables h2 {
  font-size: 1.17em;
  margin: 5px 0;
}
#deliverables img {
  width: 313px;
}
#deliverables p {
  margin: 10px 0;
}
#deliverables ul {
  padding-top: 15px;
}
#deliverables ul li {
  padding-bottom: 15px;
}
#deliverables ul li img {
  float: left;
  margin: 0px 3% 0px 0;
  width: 31%;
}
#deliverables ul li .byline {
  padding-top: 35px;
  float: left;
  margin: 0px 3% 0px 0;
  width: 65%;
  margin: 0px !important;
}
#about section {
  padding-top: 40px;
}
#about p {
  margin: 10px 0;
}
#about #mission {
  padding-top: 0px;
}
#about #team li {
  float: left;
  margin: 0px 3% 0px 0;
  width: 48%;
}
#about #partners li {
  float: left;
  margin: 0px 3% 0px 0;
  width: 31%;
  padding-bottom: 15px;
}
#about #partners a {
  text-weight: bold;
}
#about #love li {
  float: left;
  margin: 0px 3% 0px 0;
  width: 14%;
  height: 90px;
  padding-top: 15px;
}
#about #love li .in {
  display: none;
}
