<% layout('/boilerplate.ejs') -%>

<article id='project'>
	<!-- title -->
	<h1>Calmark <span class='sub'>A lab in your pocket</span></h1>	

	<div class='full'>
		<iframe src="http://player.vimeo.com/video/57891883?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ed9dbf" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</div>
	
	<div id='intro'>
		<div id='info'>
			<ul>
		    	<li><h4>Client</h4></li> <!-- this is the header for a section in the box -->
		    	<li><a href='http://www.calmark.se'>Calmark</a></li> <!-- this is the list of the things in the section -->
		  	</ul>
		  	<ul>
		    	<li><h4>Date</h4></li>
		    	<li>2013</li>
		  	</ul>
		</div>
			<p>Calmark is more than an app, its the beginning of a revolution. A lab in your pocket. We got approached by Calmark AB, to build an app that would measure and quantify the colourimetric reaction in their disposable in vitro diagnostic blood separation card, Hilda Neo. Applying blood to the card will create a colour reaction in the assay which is measured by the phones camera and translated to values of certain biomarkers. The work we did for them included conceptualising, design and development of the app, the colour balancing, and built standard colour curves for their chemical assays.</p>
			<p>Thats all we can share with you at the moment</p>
	</div>
	<div class='imgs'>
		<div class="column col6">
			<img src='/img/calmark_settings.png'>
		</div>
		<div class="column col6 edge">
			<img src='/img/calmark_wireframe.png'>
		</div>
		<div class='clear'></div>
	</div>
	<div class='imgs'>
		<div class="column col6" style='margin-top: 10px'>
			<p>The app contains all the information you need to know about the hilda Neo card. A tutorial guides you smoothly through running the test, you will find information about how the card works and why your using it, what LDH is and why it is a critical indicator of the health of a new born baby.</p>
		</div>
		<div class="column col6 edge" style='margin-top: 10px'>
			<p>After testing the results are stored and accessible at any time. You are able to email results within a trusted network. The color of the result indicates if the result is within range or not. The result expands to see more information about LDH or Bilirubin.</p>
		</div>
		<div class='clear'></div>
	</div>
	<!--<div>
		<div class="column col6">
				<img src='/img/calmark_ianLab.png'>
		</div>
		<div class="column col6 edge">
			<img src='/img/calmark_wireframe.png'>
		</div>
		<div class='clear'></div>
	<div>
		
	<div class='full'>
		<p style='margin-top: 25px'>A sneak peak into the process. We did everything from putting lab coats on handling pippets and blood samples to user research and designing the flow and experience for the app. Here, on the left is Ian at Calmarks's lab in Stockholm doing test for the colourimetric reaction.</p>
	</div>-->
	

</article>