	<% layout('/boilerplate.ejs') -%>
<!-- #################################### work ##################################### -->
<article id='project'>
	<!-- title -->
	<h1>Curiocity</h1>	

	<div id='intro'>
	  <div id="info" class='column col2'>
			<ul> 
		    	<li><h4>Collaborated with</h4></li> <!-- this is the header for a section in the box -->
		    	<li>Momo Miyazaki</li> <!-- this is the list of the things in the section -->
		    	<li>Rohit Sharma</li>
		  	</ul>
		  	<ul>
		    	<li><h4>Date</h4></li>
		    	<li>2012</li>
		  	</ul>
  		</div>
	  <div class='column col10 edge'>
	  	<p>Curiousity is a service that pulls the most recent questions on blogs about the medicine your about to pick up. When you start a new medicine, you don’t always know what to ask. curiocity is a service that brings relevant questions from online health communities to you, at a moment where you could use some support.</p>
			<p>When you go to the pharmacy to pick up a prescription, the pharmacist gives you a tailored list of the most discussed questions about the treatment you’re about to take. These questions, covering topics from side effects to lifestyle decisions, come from forums, blogs, and patient group communities. The questions are tailored based on your age, sex, and medication. If you find a question that is helpful and relevant, you can ask the pharmacist when they come back with your prescription.</p>
	  </div>
	  
		<div class='clear'></div>
	</div>
	<!-- you can put as many of these as you want -->
	<div class='full'>
		<iframe src="http://player.vimeo.com/video/57645468?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</div>

	<div class='full'>
		<p>Each Curiocity sheet has a web address that leads to your tailored list of questions, an opportunity to access the heart of the online discussion that is relevant to you. The curiocity website also allows you to explore other questions or type in your own. By sharing information, we empower each other to know and act on the things that matter.</p>
	</div>

	<div>
		<div class="wide">
			<img src='/img/curiosity_fron_big.png'>
		</div>
		<div class="narrow edge" style="padding-bottom: 30px;">
			<img src="/img/Curiousity_process.png" style="padding-bottom: 43px;">
			<img  src='/img/curiosity_back_small.png'>
		</div>
	</div>
	<div class='full'></div>
</article>