<% layout('/boilerplate.ejs') -%>
<!-- #################################### work ##################################### -->
<article id='project'>
	<!-- title -->
	<h1>BioHacking<span class='sub'> Do it yourself!</span></h1>

	<div class='full' style='margin:30px 0'>
			<iframe src="http://player.vimeo.com/video/57536108?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</div>

	<div id='intro'>
		<div id='info'>
				 	<ul>
		    	<li><h4>The project is developed in partnership with:</h4></li>
		    	<li><a href='http://ciid.dk/education/portfolio/idp12/students/malthe-martin-borch/' target='_blank'>Martin Malthe Borch</a></li>
		    	<li><a href='http://www.museion.ku.dk/about-museion/staff/ane-pilegaard-sorensen/' target='_blank'>Ane Pilgaard Sørensen</a></li>
		    	<li><a href='http://www.museion.ku.dk/about-museion/staff/thomas-soderqvist/' target='_blank'>Thomas Söderqvist</a></li>
		    	<li><a href='http://www.openbioprojects.net/' target='_blank'></a></li>
		    	<li><a href='http://www.linkedin.com/pub/emil-d-lambreth-polny/45/bb/382' target='_blank'>Emil D. Lambreth Polny</a></li>
		    	<li><a href='http://www.museion.ku.dk/about-museion/staff/karin-tybjerg/' target='_blank'>Karin Tybjerg</a></li>
		    	<li><a href='http://www.linkedin.com/pub/emil-d-lambreth-polny/45/bb/382' target='_blank'>Louise Whiteley</a></li>
	  		</ul>
	  		<ul>
		    	<li><h4>Supported by</h4></li>
		    	<li><a href='http://studiolabproject.eu/' target='_blank'>Studio Lab</a></li>
		    	<li><a href='http://synbio.ku.dk/' target='_blank'>Unik Center for Synthetic Biology</a></li>
		    	<li><a href='http://www.museion.ku.dk/from-kitchen-sink-to-museum-project-description/' target='_blank'>Medical Museion</a></li>
			</ul></div>
		<div>	
			<p>In an exhibition room at the Medical Museum in Copenhagen we helped install an open biology lab – a space for visitors to participate in expiriments and pick up the know how to do it on thier own. The lab includes a variety of tools that range from a gene gun (made by Rüdiger Trojok), an open PCR machine, instrucitons for how to make your own rye bread and yogurt, to a home made stirrer. Following the exhibition there are a series of public events visitors where able to take part, to get material and experiential insight into synthetic biology. The exhibition grounds an informal discussion about the origins, principles, and ethics of synthetic and open biology. </p>

			<p>In the pioneering spirit of open-science, hacking, and punk aesthetics, this shifts the material process of laboratory protocols – and the creativity of experimental design – out of dominant research institutions such as universities and large corporations and into publicly accessible spaces.</p>
		</div>
		<div class='clear'></div>
	</div>
	<div>
		<div class="column col6">
			<img src='/img/biohacking_genegun3.png'>
		</div>
		<div class="column col6 edge">
			<img src='/img/biohacking_genegun2.png'>
		</div>
		<div class='clear'></div>
	</div>

	<div class="full">
		<p>"The concern surrounding this vision of synthetic biology includes an impressive cast of characters: synthetic creations that run amok, ‘unnatural’ humans, and reckless or even malicious scientists. There is therefore much interest – also from the highest political level – in understanding public opinion and encouraging debate about synthetic biology futures as underlined by the international DIYbio outreach conferences in California hosted by the FBI in June 2012. Focus needs, however, also to be directed to the gritty, immediate questions about what synthetic biologists are actually doing, what are the short-term prospects, the barriers they face day to day, their perceptions of risk? And what kind of democratization does open science or biohacking actually provide, and for who? Or in other words, perhaps the ‘ethics is in the details’" Karin Tybjerg and Louise Whiteley.</p>
	</div>

	<div>
		<div class="column col6">
			<img src='/img/biohacking_people2.png'>
		</div>
		<div class="column col6 edge">
			<img src='/img/biohacking_onions.png'>
		</div>
		<div class='clear'></div>
	</div>
	<div class="column col6">
		<p>"Visitors at the lab learning what the open PCR machine does.</p>
	</div>
	<div class="column col6 edge">
		<p>Visitors extracting DNA from an onion using salty water and vodka.</p>
	</div>
</article>