<% layout('/boilerplate.ejs') -%>

<article id='project'>
	<!-- title -->
	<h1>Kai<span class='sub'> All in one blood glucose meter.</span></h1>

	<div class="full">
		<img id='piddlefull' src='/img/kayBanner.jpg'>
	</div>

	<div id='intro'>
		<div id='info'>
			<ul>
		    	<li><h4>Collaborated with</h4></li>
		    	<li><a href='http://www.ericforman.com'>Marcelo Villaroel</a></li>
		  	</ul>
		  	<ul>
          <li><h4>Work</h4></li>
          <li>User interface design</li>
          <li>Software Development</li>
          <li>Hardware Development</li>
          <li>Business Development</li>
          <li>User reasearch</li>
		  	</ul>
		  	<ul>
		    	<li><h4>Date</h4></li>
		    	<li>2014</li>
		  	</ul>
		</div>
		<p>This was a project where we tried to solve the problem, which millions of type 1 diabetics suffer from every day- The hassle of measuring their blood sugar level. We wanted to solve the problem of going through up to 40 steps before successfully reading the blood sugar-level. This was done by hacking already existing FDA approved parts so that it could be one-hand operational and beautiful in the same time.</p>
    <p>The project was developed in cooperation with CIID (Copenhagen Institute of Interaction Design) and Line Health Care.</p>
    <p>Pictures on this page showcases my design-process from the first "preto-types", through scetching the visual prototype until a final fully-functional prototype is reached.</p>
	</div>
	<div class='imgs'>
		<div class="column col6">
			<img src="/img/kai4.png" style="width: 95% !important;margin: 18px 11px !important;">
		</div>
		<div class="column col6 edge">
			<img src='/img/kaiReal.png' style='width:100% !important'>
		</div>
		<div class='clear'></div>
	</div>
	<div class="column col6">
			<p>One cylindrical drum contains 12 lancets and 12 test strips. The drum rotates with each use and is replaced when finished. Pressing the test port indentation activates the meter and cocks the spring-loaded lancet. Pressing further releases the lancet and pricks the finger. Lancing depth is controlled with finger pressure. As the lancet retracts, a flexible test sipping point extends (bending through a channel), and the blood sample is taken in. If necessary to externalize a drop of blood, further pressure “milks” the fingertip through a circular opening in port (“blood sample pressure ring”). The fingertip and drop of blood are visible through the transparent test port window to aid in guiding the blood drop to the test point.</p>
	</div>
	<div class="column col6 edge">
			<ul>
				<li> Gio user flow : 4 steps vs. Current BGM user flow : 17 steps<li>
				<li>On-the-go usability: needs just one hand and no surface</li>
				<li>Fast: 7 second total test time vs. ~70 seconds with current meters</li>
				<li>Less pain: lancet drum automatically changes lancets</li>
				<li>Self-contained and durable: no external case needed</li>
				<li>Dual-sided screen for fast testing with either hand</li>
				<li>Clear viewing lens keeps port clean while allowing visibility</li>
				<li>Lancing depth adjustment via intuitive finger pressure</li>
				<li>Communicates with smartphones and computers via bluetooth or mini-USB</li>
				<li>Fits in your pocket</li>
			</ul>
		</div>
	<div>
		<div class="column col6">
      <img src="/img/kai2.jpeg" style="width: 88%;margin: 16px 20px;">
		</div>
		<div class="column col6 edge">
			<img src='/img/kai1.png'>
		</div>
		<div class='clear'></div>
	</div>
	<div class='imgs'>
		<div class="full">
			<p>The Gio combines existing technologies (meter, lancet device, and lancet/strip drum) in a sleek portable form that can be used with one hand on-the-go. Displaying BG results only, the Gio offers a radically simple and clean user experience. The innovative multi-stage test port and dual-sided screen of the Gio allow for testing with any finger of either hand with one intuitive motion. The Gio’s durable surface is completely self-contained, requires no external case and contains its own waste. The Gio easily interfaces with a smartphone or computer though bluetooth and mini-USB to use high-resolution screens more appropriate for complex diabetes management. The Gio is as comfortable, efficient and well-designed as our health deserves.</p>
			</ul>
		</div>

		<div class='clear'></div>
	</div>

</article>
