<% layout('/boilerplate.ejs') -%>
<!-- #################################### work ##################################### -->
<article id='project'>
	<!-- title -->
	<h1>One<span class='sub'> One handed blood glucose meter.</span>/h1>
	<div id='intro'>
		<div id='info' class='column col3'>
			<ul>
		    	<li><h4>Collaborated with</h4></li>
		    	<li>Helena Giani</li>
		    	<li>Andrew Nip</li>
		  	</ul>
		  	<ul>
		    	<li><h4>Date</h4></li>
		    	<li>2012</li>
		  	</ul>
		</div>
		<div class='column col9 edge'>
			<p>Managing diabetes requires managing data. Living with diabetes we are faced with individual readings that make up a bigger, and more important picture. Line One is a social platform to visualize, contextualize and share blood sugar data.</p>	
		</div>
		
		<div class='clear'></div>
	</div>

	<div>
		<div class='narrow'>
			<img src='/img/one_phone1.png'>
		</div>
		<div class='wide edge'>
			<p>We need to be able to see and explore the larger picture. One connects disparate points and interactively visualizes the data enabling us to see trends between days, weeks and months. Here, we see how the week looks through individual numbers and individual days. These are the dots that make the line, we need to understand how the big picture is made. We can really dive into the numbers day by day, week by week and month by month.  We should do better than CSV export and so, via our api you can connect your data to partner services. While we learn best from people like us your data is yours, One keeps it safe and only visible to the people you choose.</p>
		</div>
		<div class='clear'></div>
	</div>

	<div>
		<div class='wide'>
			<img src='/img/one_personal_community.png'>
		</div>
		<div class='narrow edge'>
			<p>The data is meaningful but it is the stories behind the data help us understand it. We all have good days and bad days. By seeing how other people deal with their data we understand ourselves better. We learn best from people like us but your data is yours, One keeps it safe and only visible to the people you choose.</p>

			<p>Diabetes is integrated into every aspect of life, blood sugars are effected by and effect our weight, exercise and our every day. One connects to your Withings scale and Fitbit to pull in weight and activity and helps to understand the relation between weight and blood sugar that will help you keep an eye on your ketones - an often forgotten part of management. </p>
		</div>
		<div class='clear'></div>
	</div>

	<div>
		<div class='wide'>
			<img src='/img/one_insights_personcommunity.png'>
		</div>
		<div class='narrow edge'>
			<p>The data is meaningful but its the stories behind the data help us understand it. We all have good days and bad days. By seeing how other people deal with their data we understand ourselves better. Insights are an important part of changing learning into practice. One discovers trends and prompts you to annotate your data when its important and a weekly insight can help to reinforce good habits.</p>
			<p>By filtering out insights that are valuable for you from the community One helps to remind you of your own.</p>
			<p>Learning through reflection and interaction with others, One prompts you to explain what influenced the readings, days or weeks that stand out. That way you can come back and understand what happened.</p>
			<p>We are all part of a community, with community insight One shows you how you compare - through data and through experience. We hope to give you motivation through examples of others on how you can do better. We believe that seeing others can transform the way we see ourselves. One was designed for users to support one another through constructive feedback, to open dialogue about lifestyle and self care methods. Sharing data within a supportive community helps us learn new methods for dealing with the challenges that come with living with diabetes. And most importantly the community will help you keep you real.</p>
		</div>
		<div class='clear'></div>
	</div>
</article>