<% layout('/boilerplate.ejs') -%>

<article id='project'>
	<!-- title -->
	<h1>Piddle <span class='sub'>Urine analysis on your phone.</span></h1>	

	<div class="full">
		<img id='piddlefull' src='/img/piddle-screens.png'>
	</div>
	
	<div id='intro'>
		<div id='info'>
				<ul>
		    	<li><h4>Status</h4></li>
		    	<li>Private Beta testing</li>
		  	</ul>
				<ul>
		    	<li><h4>Collaborated with</h4></li> <!-- this is the header for a section in the box -->
		    	<li><a href='http://variable.io'>Marcin Ignac</a></li> <!-- this is the list of the things in the section -->
		    	<li><a href='http://twitter.com/masylum'>Pau Ramon</a></li>
		    	<li><a href='http://www.katzorina.com' target='_blank'>Kat Zorina</a></li>
		    	<li><a href='https://www.google.dk/search?q=hideaki+matsui&oq=hideaki+matsui&aqs=chrome.0.59j57j60l4.	1902&sourceid=chrome&ie=UTF-8' target='_blank'>Hideaki Matsui</a></li>
		    </ul>
		    <ul>
		    	<li><h4>Recognition</h4></li>
		    	<li><a href='http://www.hoastoolshop.com/thank-you-all-this-was-health-hack-day-2012/' target='_blank'>Winner of Health Hack Day</a></li>
		  	</ul>
		  	<ul>
		    	<li><h4>Date</h4></li>
		    	<li>2012</li>
		  	</ul>
		</div>
		<p>Piddle is an iPhone app for urine test strip analysis. Using urine test strips can be hard, even for a professional. It requires focus, good timing, handling many things at the same time, but more importantly, the ability to accurately compare colours. Piddle guides you through the process, takes, and tracks the test results. It explains the meaning of each result and shows how your values fall within normal ranges. The results are stored and can be shared with your doctor.</p>

		<p>Urinalysis is an important tool in disease detection, as well as monitoring and screening health. Abnormalities can be indicative of diseases of the urinary system as well as other organ systems, including liver function, and carbohydrate metabolism. Chemical evaluation of urine can be measured using commercially available in house dipstick tests.</p>
	</div>
	<div class='imgs'>
		<div class="column col6">
			<img src='/img/piddel_strips.png'>
		</div>
		<div class="column col6 edge">
			<img src='/img/target.png'>
		</div>
		<div class='clear'></div>
	</div>
	<div class='imgs'>
		<div class="column col6">
			<p>The app currently works with Multistix® 10 SG Reagent Strips. The strips can preform analyses on bilirubin, blood, glucose, ketones, pH, protein, specific gravity, urobilinogen, leukocytes, and nitrite.</p>
		</div>
		<div class="column col6 edge">
			<p>The colourimetric detection is performed with the help of the colour calibration target shown above. The target is used to do colour balancing and individual calibration for each shot. This makes the system less susceptible to changes in lighting conditions. A method also used and described in <a href='http://www.biomicro.uc.edu/publications/Li2012LOC.pdf'>this paper</a> by researches at <a href='http://www.biomicro.uc.edu/'>BioMicroSystems</a>.</p>
		</div>
		<div class='clear'></div>
	</div>
	<!--
	<div class='imgs'>
		<div class="column col6">
			<p>The app currently works with Multistix® 10 SG Reagent Strips. The stips can preform analyses on bilirubin, blood, glucose, ketones, pH, protein, specific gravity, urobilinogen, leukocytes, and nitrite.</p>
		</div>
		<div class="column col6 edge">
			<p>The reference mat is used to compare colour ranges, this makes the system less susceptible to changes in lighting.</p>
		</div>
		<div class='clear'></div>
	</div>-->
	<div>
		<div class="column col6">
			<img src='/img/piddleteam.jpg'>
		</div>
		<div class="column col6 edge">
			<img src='/img/piddle_wireframes.png'>
		</div>
		<div class='clear'></div>
	</div>
	<div class='full'>
			<p>We always start our process with an analogue wireframe. It is where our design thinking and skills in development come together. The first version of Piddle was programmed in 24 hours at Health Hack Day in Stockholm on a weekend in May 2012. We stayed up all night making the application and won first prize.</p>
	</div>

</article>