<% layout('/boilerplate.ejs') -%>
<!-- #################################### work ##################################### -->
<article id='project'>
	<!-- title -->
	<h1>Body Story <span class='sub'>A symptom tracker.</span></h1>

	<div class='full' style='margin:30px 0'>
			<iframe src="http://player.vimeo.com/video/43100605?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</div>

	<div id='intro'>
		<div id='info'>
			<ul>
		    	<li><h4>Collaborated with</h4></li>
		    	<li><a href='http://www.katzorina.com' target='_blank'>Kat Zorina</a></li>
		    	<li><a href='https://www.google.dk/search?q=hideaki+matsui&oq=hideaki+matsui&aqs=chrome.0.59j57j60l4.1902&sourceid=chrome&ie=UTF-8' target='_blank'>Hideaki Matsui</a></li>
		  	</ul>
		  	<ul>
		    	<li><h4>Stage</h4></li>
		    	<li>Concept</li>
		  	</ul>
		  	<ul>
		    	<li><h4>Date</h4></li>
		    	<li>2012</li>
		  	</ul>
		</div>
		<div>
			<p>Body Story is an iPhone app that allows users to track and understand recurring medical symptoms. The importance of monitoring personal health is oftentimes overshadowed by the complexity of resources and tools involved in healthcare. Body Story streamlines the process of health monitoring through an interface that enables users to keep a record of their symptoms with simple inputs. </p>	
			<p>Body Story can be used in a variety of ways. It can be used with your doctor to track a recovery from surgery, to find patterns in flare ups of certain conditions or simply for yourself to collect information about what your body is going through.</p>
		</div>
		<div class='clear'></div>
	</div>

	<div class="full">
		<img style='width: 75% !important;height: 82%;margin: 0px auto;' src='/img/bodystory_full.png'>
	</div>

	<div class="full">
		<p>The entry screen also allows users to create custom groups of symptoms that represent a similar occurrence. Although Body Story suggests common symptom categories through an autocomplete feature, a user can overwrite a suggestion with a custom group name and continue tracking symptoms within the group over time. The information is added through a tap on an interactive outline of a human body. This allows users to quickly indicate the physical location of their symptom and, if necessary, proceed to add more information. In the next steps, users have the option to add notes, images or sounds and record the level of pain. Doctor’s visit tags make it possible to track doctor’s notes and diagnoses that are so often forgotten or misplaced.</p>
	</div>

	<div>
		<div class="column col6">
			<img src='/img/bodystory_sidehistory.png'>
		</div>
		<div class="column col6 edge">
			<img src='/img/bodystory_process.png'>
		</div>
		<div class='clear'></div>
	</div>

	<div>
		<div class="column col6">
			<p>The data collected through the main interface translate into a visualization that represents cumulative symptoms over a period of time. The visualization makes it easy to track the occurrence and pain intensity of symptoms in each user-defined symptom group.</p>
		</div>
		<div class="column col6 edge">
			<p>A few images of our process - getting an image of a body with enough detail but not too much was important to us. There are options for male and female as well as child figures.</p>
		</div>
		<div class='clear'></div>
	</div>

	
</article>