<% layout('/boilerplate.ejs') -%>

<article id='project'>
	<!-- title -->
	<h1>Gio<span class='sub'> One handed blood glucose meter.</span></h1>	

	<div class="full">
		<img id='piddlefull' src='/img/gio_topfullsharp.png'>
	</div>
	
	<div id='intro'>
		<div id='info'>
			<ul>
		    	<li><h4>Collaborated with</h4></li> 
		    	<li><a href='http://www.ericforman.com'>Eric Forman</a></li> 
		    	<li><h4>Recognition</h4></li>
		    	<li><a href='http://www.diabetesmine.com/designcontest' target='_blank'>Semi-Finalist <br>Diabetes Mine 2011 <br>Design Challenge </a></li>
		  	</ul>
		  	<ul>
		    	<li><h4>Stage</h4></li>
		    	<li>Concept</li>
		  	</ul>
		  	<ul>
		    	<li><h4>Date</h4></li>
		    	<li>2012</li>
		  	</ul>
		</div>
		<p>XXXXXXThe Gio is a small, sleek one-handed blood glucose meter designed to make testing fast, natural and instinctive. It combines a lancing mechanism with a unique 12-test integrated lancet and test strip drum. At work, on the street, on the train, while exercising, even while walking fast to a late appointment, the Gio makes frequent testing easy without interrupting your life.</p>	

		<p>For 220 million diabetics worldwide, testing Blood Glucose is the foundation of good self-management. Every decision about insulin dosage, food intake, and external factors depends on frequent testing. Diabetics rely on their blood glucose meters throughout each and every day. The tools we use to monitor and understand our health become part of us. They should not be pathology-driven, but user-driven.</p>

		<p>While BG technology has improved significantly in the past 30 years, current BG meters on the market still ignore a basic tenet of design – less is more. All existing meters, even “all-in-one” models, require two hands and a surface to operate. Meters that advertise a “mini” form blatantly ignore the necessity of a bulky case and carrying strips, lancing device, lancets, and a place to dispose of used supplies. While many meters display test memory or more advanced features, every meter screen currently on the market is either too small, too low-resolution, or too visually crowded to manage data.</p>
	</div>
	<div class='imgs'>
		<div class="column col6">
			<img src='/img/gio_mechanic2.png'>
		</div>
		<div class="column col6 edge">
			<img src='/img/gio_mechanic.png'>
		</div>
		<div class='clear'></div>
	</div>
	<div class="column col6">
			<p>One cylindrical drum contains 12 lancets and 12 test strips. The drum rotates with each use and is replaced when finished. Pressing the test port indentation activates the meter and cocks the spring-loaded lancet. Pressing further releases the lancet and pricks the finger. Lancing depth is controlled with finger pressure. As the lancet retracts, a flexible test sipping point extends (bending through a channel), and the blood sample is taken in. If necessary to externalize a drop of blood, further pressure “milks” the fingertip through a circular opening in port (“blood sample pressure ring”). The fingertip and drop of blood are visible through the transparent test port window to aid in guiding the blood drop to the test point.</p>
	</div>
	<div class="column col6 edge">
			<ul>
				<li> Gio user flow : 4 steps vs. Current BGM user flow : 17 steps<li>
				<li>On-the-go usability: needs just one hand and no surface</li>
				<li>Fast: 7 second total test time vs. ~70 seconds with current meters</li>
				<li>Less pain: lancet drum automatically changes lancets</li>
				<li>Self-contained and durable: no external case needed</li>
				<li>Dual-sided screen for fast testing with either hand</li>
				<li>Clear viewing lens keeps port clean while allowing visibility</li>
				<li>Lancing depth adjustment via intuitive finger pressure</li>
				<li>Communicates with smartphones and computers via bluetooth or mini-USB</li>
				<li>Fits in your pocket</li>
			</ul>
		</div>
	<div>
		<div class="column col6">
			<img src='/img/gio_process.png'>
		</div>
		<div class="column col6 edge">
			<img src='/img/gio_in-use.png'>
		</div>
		<div class='clear'></div>
	</div>
	<div class='imgs'>
		<div class="full">
			<p>The Gio combines existing technologies (meter, lancet device, and lancet/strip drum) in a sleek portable form that can be used with one hand on-the-go. Displaying BG results only, the Gio offers a radically simple and clean user experience. The innovative multi-stage test port and dual-sided screen of the Gio allow for testing with any finger of either hand with one intuitive motion. The Gio’s durable surface is completely self-contained, requires no external case and contains its own waste. The Gio easily interfaces with a smartphone or computer though bluetooth and mini-USB to use high-resolution screens more appropriate for complex diabetes management. The Gio is as comfortable, efficient and well-designed as our health deserves.</p>
			</ul>
		</div>
		
		<div class='clear'></div>
	</div>

</article>